/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  min-width: 375px;
  background-color: #fff;
  min-width: 375px;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  font-size: 100%;
}

input,
input::-webkit-input-placeholder,
button,
select,
textarea,
textarea::-webkit-input-placeholder {
  font-family: "Circe", "sans-serin";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
input:-ms-input-placeholder,
button,
select,
textarea,
textarea:-ms-input-placeholder {
  font-family: "Circe", "sans-serin";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
input::-ms-input-placeholder,
button,
select,
textarea,
textarea::-ms-input-placeholder {
  font-family: "Circe", "sans-serin";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
input::placeholder,
button,
select,
textarea,
textarea::placeholder {
  font-family: "Circe", "sans-serin";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Circe", "sans-serin";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.title1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #9961d6;
}

@media (max-width: 991px) {
  .title1 {
    font-size: 36px;
    line-height: 53px;
  }
}

.title2 {
  position: relative;
  display: inline-block;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  color: #272727;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.title2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9961d6;
  height: 3px;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .title2::before::before {
    height: 2px;
    width: 50%;
  }
}

@media (max-width: 991px) {
  .title2 {
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    color: #272727;
  }
}

.text1 {
  font-weight: 350;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #272727;
}

@media (max-width: 991px) {
  .text1 {
    font-size: 18px;
    line-height: 27px;
  }
}

.text2 {
  font-weight: 350;
  font-size: 24px;
  line-height: 35px;
  color: #272727;
}

@media (max-width: 991px) {
  .text2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.text3 {
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: #272727;
}

@media (max-width: 991px) {
  .text3 {
    font-size: 18px;
    line-height: 27px;
  }
}

.btn {
  border: 0;
  outline: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  padding: 0 50px;
  font-size: 24px;
  cursor: pointer;
  font-weight: 350;
  color: #ffffff;
  background: #9961d6;
  border-radius: 25px;
  border: 0;
  outline: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

@media (max-width: 991px) {
  .btn {
    font-size: 18px;
    line-height: 36px;
    height: 35px;
  }
}

.btn:hover, .btn:focus {
  background-color: #d5c6e3;
}

.welcome {
  position: relative;
}

.welcome__container {
  height: 570px;
}

@media (max-width: 1400px) {
  .welcome__container {
    height: 500px;
  }
}

@media (max-width: 576px) {
  .welcome__container {
    height: 552px;
  }
}

.welcome__bg-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.welcome__circle-wrapper {
  position: absolute;
  left: 30%;
  top: 9px;
}

@media (max-width: 1600px) {
  .welcome__circle-wrapper {
    left: 20%;
  }
}

@media (max-width: 1400px) {
  .welcome__circle-wrapper {
    left: 10%;
  }
}

@media (max-width: 576px) {
  .welcome__circle-wrapper {
    top: 255px;
    left: unset;
    right: 10px;
  }
}

.welcome__circle-image {
  width: 192px;
}

@media (max-width: 991px) {
  .welcome__circle-image {
    width: 150px;
  }
}

@media (max-width: 576px) {
  .welcome__circle-image {
    width: 112px;
  }
}

.welcome__circle-date {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  max-width: 150px;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #272727;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .welcome__circle-date {
    font-size: 18px;
    max-width: 110px;
  }
}

@media (max-width: 576px) {
  .welcome__circle-date {
    font-size: 14px;
    line-height: 21px;
    max-width: 90px;
  }
}

.welcome__circle-border {
  display: block;
  width: 101px;
  height: 3px;
  background-color: #9961d6;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .welcome__circle-border {
    width: 60px;
    height: 2px;
  }
}

.welcome__circle-inner {
  padding: 17px 0;
}

@media (max-width: 991px) {
  .welcome__circle-inner {
    padding: 7px 0;
  }
}

.welcome__content {
  position: absolute;
  top: 60%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  text-align: center;
  max-width: 500px;
}

@media (max-width: 576px) {
  .welcome__content {
    max-width: 300px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    top: 23px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

.welcome__title {
  margin-bottom: 7px;
}

@media (max-width: 576px) {
  .welcome__title {
    margin-bottom: 0;
  }
}

.welcome__subtitle {
  margin-bottom: 43px;
}

@media (max-width: 576px) {
  .welcome__subtitle {
    margin-bottom: 19px;
  }
}

.how__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px 40px 20px;
  text-align: center;
}

@media (max-width: 576px) {
  .how__container {
    padding: 30px 15px;
  }
}

.how__title {
  margin-bottom: 120px;
}

@media (max-width: 768px) {
  .how__title {
    margin-bottom: 55px;
    line-height: 1;
  }
}

.how__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .how__items {
    display: block;
  }
}

.how__item {
  max-width: 343px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 343px;
          flex: 1 1 343px;
}

@media (max-width: 768px) {
  .how__item {
    display: block;
    margin: 0 auto;
  }
}

.how__item:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 991px) {
  .how__item:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .how__item:not(:last-child) {
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .how__item:nth-child(1) {
    margin-bottom: 80px;
  }
  .how__item:nth-child(1) .how__item-number-with-image {
    left: -40px;
  }
}

@media (max-width: 768px) {
  .how__item:nth-child(2) {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .how__item:nth-child(3) .how__item-number-with-image {
    left: 40px;
  }
}

.how__item-number-with-image {
  position: relative;
  display: inline-block;
}

.how__item-number {
  position: relative;
  z-index: 10;
  font-weight: 800;
  font-size: 144px;
  line-height: 1;
  text-align: center;
  color: #9961d6;
}

@media (max-width: 991px) {
  .how__item-number {
    font-size: 96px;
  }
}

.how__item-img {
  position: absolute;
  width: 150px;
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .how__item-img {
    width: 120px;
    max-width: unset;
  }
}

.how__item-img_1 {
  top: unset;
  right: unset;
  bottom: 60px;
  left: 60px;
}

@media (max-width: 991px) {
  .how__item-img_1 {
    bottom: 30px;
    left: 50px;
  }
}

@media (max-width: 768px) {
  .how__item-img_1 {
    bottom: 10px;
  }
}

.how__item-img_2 {
  top: -60px;
  right: -10px;
}

@media (max-width: 768px) {
  .how__item-img_2 {
    top: -40px;
    right: 40px;
  }
}

.how__item-img_3 {
  top: -70px;
  right: 60px;
}

@media (max-width: 991px) {
  .how__item-img_3 {
    top: -35px;
    right: 30px;
  }
}

@media (max-width: 768px) {
  .how__item-img_3 {
    top: -45px;
    right: 50px;
  }
}

.how__item-description-link {
  text-decoration: underline;
  color: #272727;
}

.how__item-bottom {
  font-weight: 350;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #9961d6;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
  .how__item-bottom {
    font-size: 18px;
    line-height: 1.35;
  }
}

.action {
  background: rgba(153, 97, 214, 0.2);
}

.action__container {
  padding: 23px 20px;
  max-width: 1112px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .action__container {
    padding: 26px 13px 30px 13px;
  }
}

.action__text {
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 991px) {
  .action__text {
    font-size: 24px;
  }
}

.action__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 20px auto;
}

.action__item {
  text-align: center;
}

.action__item:not(:last-child) {
  margin-right: 80px;
}

@media (max-width: 991px) {
  .action__item:not(:last-child) {
    margin-right: 25px;
  }
}

.action__item-number {
  font-weight: 800;
  font-size: 72px;
  line-height: 1;
  text-align: center;
  color: #9961d6;
}

.action__item-description {
  font-size: 16px;
}

.action__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .action__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .action__form {
    display: block;
    margin-bottom: 16px;
  }
}

.action__input {
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: #272727;
  height: 57px;
  padding-left: 32px;
  padding-right: 32px;
  border: 0;
  outline: 0;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (max-width: 768px) {
  .action__input {
    height: 45px;
    width: 100%;
    margin-bottom: 12px;
    font-size: 18px;
    text-align: center;
  }
}

.action__input::-webkit-input-placeholder {
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: #272727;
}

.action__input:-ms-input-placeholder {
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: #272727;
}

.action__input::-ms-input-placeholder {
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: #272727;
}

.action__input::placeholder {
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: #272727;
}

@media (max-width: 768px) {
  .action__input::-webkit-input-placeholder {
    font-size: 18px;
  }
  .action__input:-ms-input-placeholder {
    font-size: 18px;
  }
  .action__input::-ms-input-placeholder {
    font-size: 18px;
  }
  .action__input::placeholder {
    font-size: 18px;
  }
}

.action__input:not(:last-child) {
  margin-right: 15px;
}

@media (max-width: 991px) {
  .action__input:not(:last-child) {
    margin-right: 0;
  }
}

.action__input:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
}

@media (max-width: 991px) {
  .action__input:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 15px);
            flex: 1 1 calc(50% - 15px);
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .action__input:first-child {
    margin-right: 0;
  }
}

.action__input:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 39%;
          flex: 1 1 39%;
}

@media (max-width: 991px) {
  .action__input:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.action__btn {
  padding: 0 30px;
}

@media (max-width: 991px) {
  .action__btn {
    height: 57px;
    margin-top: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .action__btn {
    height: 45px;
    width: 100%;
    margin-top: 0;
  }
}

.action__link {
  display: inline-block;
  font-size: 13px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #272727;
  margin-left: 35px;
}

@media (max-width: 991px) {
  .action__link {
    display: block;
    text-align: center;
    margin-left: 0;
  }
}

.dates {
  background-color: #f8f8f8;
  position: relative;
}

.dates__container {
  max-width: 873px;
  margin: 0 auto;
  padding: 38px 30px 31px 30px;
}

@media (max-width: 991px) {
  .dates__container {
    padding: 22px 13px 43px 19px;
  }
}

.dates__bg-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 946px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1600px) {
  .dates__bg-image {
    right: -10%;
  }
}

@media (max-width: 1300px) {
  .dates__bg-image {
    right: -20%;
  }
}

@media (max-width: 1200px) {
  .dates__bg-image {
    display: none;
  }
}

.dates__content {
  position: relative;
  text-align: center;
  z-index: 10;
}

.dates__title {
  position: relative;
  z-index: 10;
  margin-bottom: 14px;
  text-align: center;
}

.dates__text {
  position: relative;
  z-index: 10;
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 1600px) {
  .dates__items {
    position: relative;
    left: 25%;
  }
}

@media (max-width: 1300px) {
  .dates__items {
    left: 10%;
  }
}

@media (max-width: 1200px) {
  .dates__items {
    position: static;
    left: 0;
  }
}

@media (max-width: 991px) {
  .dates__items {
    max-width: 600px;
    margin-left: 0 auto;
  }
}

.dates__item {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .dates__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.dates__item:not(:first-child) {
  margin-top: -15px;
}

@media (max-width: 991px) {
  .dates__item:not(:first-child) {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .dates__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .dates__item_1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 991px) {
  .dates__item_2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 991px) {
  .dates__item_3 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.dates__item-img {
  width: 100%;
  max-width: 155px;
  height: auto;
  margin-right: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 991px) {
  .dates__item-img {
    max-width: 100px;
  }
}

.dates__item-img_2 {
  margin-left: 26%;
}

@media (max-width: 991px) {
  .dates__item-img_2 {
    margin-left: 15px;
    margin-right: 0;
  }
}

.dates__item-img_3 {
  margin-left: auto;
}

@media (max-width: 991px) {
  .dates__item-img_3 {
    margin-left: 0;
  }
}

.dates__item-texts {
  text-align: left;
  margin-top: 25px;
}

.dates__item-number {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #9961d6;
}

@media (max-width: 991px) {
  .dates__item-number {
    font-size: 36px;
    line-height: 1.35;
  }
}

.dates__item-description {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

@media (max-width: 991px) {
  .dates__item-description {
    text-align: left;
  }
}

.gifts {
  overflow: hidden;
}

.gifts__container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 37px 30px;
  text-align: center;
}

@media (max-width: 991px) {
  .gifts__container {
    padding: 22px 0 43px 0;
  }
}

.gifts__title {
  margin-bottom: 75px;
}

@media (max-width: 991px) {
  .gifts__title {
    margin-bottom: 24px;
  }
}

.gifts__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gifts__item_1 {
  right: 150px;
}

@media (max-width: 1200px) {
  .gifts__item_1 {
    right: 0;
  }
}

@media (max-width: 991px) {
  .gifts__item_1 {
    margin-bottom: 31px;
  }
}

.gifts__item_2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  right: 30px;
}

@media (max-width: 1200px) {
  .gifts__item_2 {
    right: 0;
  }
}

@media (max-width: 991px) {
  .gifts__item_2 {
    margin-bottom: 50px;
    padding-top: 30px;
    background-color: #f8f8f8;
  }
}

.gifts__item_3 {
  left: 30px;
}

@media (max-width: 1200px) {
  .gifts__item_3 {
    left: 0;
  }
}

@media (max-width: 991px) {
  .gifts__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.gifts__item-images {
  position: relative;
}

.gifts__item-images_1 {
  margin-right: 234px;
}

@media (max-width: 1200px) {
  .gifts__item-images_1 {
    margin-right: 50px;
  }
}

.gifts__item-images_2 {
  margin-left: 55px;
}

@media (max-width: 1200px) {
  .gifts__item-images_2 {
    margin-right: 50px;
  }
}

.gifts__item-images_3 {
  margin-right: 60px;
}

@media (max-width: 1200px) {
  .gifts__item-images_3 {
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .gifts__item-images {
    margin-right: 0;
    margin-left: 0;
  }
}

.gifts__item-img {
  position: relative;
  z-index: 10;
}

.gifts__item-img_1 {
  max-width: 480px;
}

@media (max-width: 1200px) {
  .gifts__item-img_1 {
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .gifts__item-img_1 {
    display: block;
    max-width: unset;
    width: calc(100% - 30px);
    margin-right: auto;
    margin-top: 15px;
  }
}

.gifts__item-img_2 {
  max-width: 500px;
}

@media (max-width: 1200px) {
  .gifts__item-img_2 {
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .gifts__item-img_2 {
    position: relative;
    top: 15px;
    display: block;
    max-width: unset;
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
  }
}

.gifts__item-img_3 {
  max-width: 480px;
}

@media (max-width: 1200px) {
  .gifts__item-img_3 {
    max-width: 400px;
    margin-top: 25px;
  }
}

@media (max-width: 576px) {
  .gifts__item-img_3 {
    display: block;
    max-width: unset;
    width: calc(100% - 30px);
    margin-right: auto;
    margin-left: auto;
  }
}

.gifts__item-bg {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 1000px;
  max-width: unset;
}

@media (max-width: 1200px) {
  .gifts__item-bg {
    width: 700px;
  }
}

@media (max-width: 991px) {
  .gifts__item-bg {
    display: none;
  }
}

.gifts__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 10;
}

.gifts__item-content_1 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-top: 70px;
}

.gifts__item-content_2 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  margin-top: 200px;
}

.gifts__item-content_3 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-top: 200px;
}

@media (max-width: 991px) {
  .gifts__item-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 0;
    padding: 0 25px;
  }
}

.gifts__item-title {
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width: 1200px) {
  .gifts__item-title {
    white-space: inherit;
  }
}

.gifts__item-description {
  margin-top: 23px;
}

@media (max-width: 991px) {
  .gifts__item-description {
    margin-top: 17px;
  }
}

.subscribe {
  background-color: #f8f8f8;
}

.subscribe__container {
  max-width: 1215px;
  margin: 0 auto;
  padding: 46px 40px 50px 40px;
  text-align: center;
}

@media (max-width: 768px) {
  .subscribe__container {
    padding: 21px 10px 38px 10px;
  }
}

.subscribe__title {
  margin-bottom: 19px;
}

@media (max-width: 991px) {
  .subscribe__title {
    margin-bottom: 21px;
  }
}

.subscribe__subtitle {
  margin-bottom: 65px;
}

@media (max-width: 991px) {
  .subscribe__subtitle {
    margin-bottom: 15px;
  }
}

.subscribe__swiper {
  position: relative;
  max-width: 1130px;
  margin: 0 auto 50px auto;
}

@media (max-width: 991px) {
  .subscribe__swiper {
    margin-bottom: 38px;
  }
}

.subscribe__bottom-link {
  color: #9961d6;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .subscribe__navs {
    display: none;
  }
}

.subscribe .swiper-pagination {
  display: none;
  bottom: -15px;
}

@media (max-width: 991px) {
  .subscribe .swiper-pagination {
    display: block;
  }
}

.subscribe .swiper-pagination-bullet {
  background-color: #9961D6;
}

.subscribe .swiper-pagination-bullet-active {
  background-color: #9961D6;
}

.subscribe .swiper-button-prev {
  left: -35px;
  color: #272727;
}

.subscribe .swiper-button-next {
  right: -35px;
  color: #272727;
}

@media (max-width: 991px) {
  .subscribe .swiper-button-next:after,
  .subscribe .swiper-button-prev:after {
    font-size: 20px;
  }
}

.faq {
  position: relative;
  overflow: hidden;
}

.faq__container {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 65px 20px 65px 20px;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  .faq__container {
    padding: 12px 18px 37px 18px;
  }
}

.faq__title {
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .faq__title {
    margin-bottom: 30px;
  }
}

.faq__questions {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.faq__question-title {
  font-size: 24px;
  line-height: 35px;
  color: #272727;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 8px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .faq__question-title {
    font-size: 18px;
    line-height: 27px;
  }
}

.faq__question-answer {
  font-size: 20px;
}

@media (max-width: 991px) {
  .faq__question-answer {
    font-size: 18px;
    line-height: 27px;
  }
}

.faq__question-answer > p {
  color: #2b2b2b;
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}

.faq__list {
  list-style-position: inside;
}

.faq__list_parent {
  font-weight: 300;
}

@media (max-width: 768px) {
  .faq__list_parent {
    padding-left: 20px;
  }
}

.faq__list_parent li {
  margin-bottom: 10px;
  line-height: 1.4;
}

.faq__list_nested {
  padding-left: 20px;
}

.faq__list_circle {
  list-style-type: disc;
}

.faq__list-item-title > p {
  margin-bottom: 10px;
}

.faq__obj1 {
  position: absolute;
  right: 24%;
  bottom: 50px;
  z-index: 10;
}

@media (max-width: 576px) {
  .faq__obj1 {
    right: 5%;
    bottom: 50px;
  }
}

.faq__bg {
  position: absolute;
  bottom: -30px;
  right: 0;
}

.faq__question-show-all {
  border: 0;
  outline: 0;
  color: #9961d6;
  text-decoration: underline;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.faq__question-show-all ~ .faq__question {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__question {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__question .faq__question-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__question.active {
  max-height: 100%;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.faq__question.active .faq__question-answer {
  max-height: 100%;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
