/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  min-width: 375px;
  background-color: #fff;
  min-width: 375px;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  font-size: 100%;
}

input,
input::-webkit-input-placeholder,
button,
select,
textarea,
textarea::-webkit-input-placeholder {
  font-family: "Circe", "sans-serin";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
input:-ms-input-placeholder,
button,
select,
textarea,
textarea:-ms-input-placeholder {
  font-family: "Circe", "sans-serin";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
input::-ms-input-placeholder,
button,
select,
textarea,
textarea::-ms-input-placeholder {
  font-family: "Circe", "sans-serin";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
input::placeholder,
button,
select,
textarea,
textarea::placeholder {
  font-family: "Circe", "sans-serin";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Circe", "sans-serin";
  overflow-x: hidden;
}

.welcome {
  position: relative;
}

.welcome__container {
  height: 570px;
}

@media (max-width: 1400px) {
  .welcome__container {
    height: 500px;
  }
}

@media (max-width: 576px) {
  .welcome__container {
    height: 552px;
  }
}

.welcome__bg-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.welcome__circle-wrapper {
  position: absolute;
  left: 30%;
  top: 9px;
}

@media (max-width: 1600px) {
  .welcome__circle-wrapper {
    left: 20%;
  }
}

@media (max-width: 1400px) {
  .welcome__circle-wrapper {
    left: 10%;
  }
}

@media (max-width: 576px) {
  .welcome__circle-wrapper {
    top: 255px;
    left: unset;
    right: 10px;
  }
}

.welcome__circle-image {
  width: 192px;
}

@media (max-width: 991px) {
  .welcome__circle-image {
    width: 150px;
  }
}

@media (max-width: 576px) {
  .welcome__circle-image {
    width: 112px;
  }
}

.welcome__circle-date {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  max-width: 150px;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #272727;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .welcome__circle-date {
    font-size: 18px;
    max-width: 110px;
  }
}

@media (max-width: 576px) {
  .welcome__circle-date {
    font-size: 14px;
    line-height: 21px;
    max-width: 90px;
  }
}

.welcome__circle-border {
  display: block;
  width: 101px;
  height: 3px;
  background-color: #9961d6;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .welcome__circle-border {
    width: 60px;
    height: 2px;
  }
}

.welcome__circle-inner {
  padding: 17px 0;
}

@media (max-width: 991px) {
  .welcome__circle-inner {
    padding: 7px 0;
  }
}

.welcome__content {
  position: absolute;
  top: 60%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  text-align: center;
  max-width: 500px;
}

@media (max-width: 576px) {
  .welcome__content {
    max-width: 300px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    top: 23px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

.welcome__title {
  margin-bottom: 7px;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #9961d6;
}

@media (max-width: 576px) {
  .welcome__title {
    margin-bottom: 0;
  }
}

.welcome__subtitle {
  margin-bottom: 43px;
  font-weight: 350;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #272727;
}

@media (max-width: 576px) {
  .welcome__subtitle {
    margin-bottom: 19px;
  }
}

.welcome__btn {
  height: 52px;
  padding: 0 52px;
  font-weight: 350;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background: #9961d6;
  border-radius: 25px;
  border: 0;
  outline: 0;
}

.how__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px 40px 20px;
  text-align: center;
}

.how__title {
  margin-bottom: 73px;
}

.how__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how__item {
  position: relative;
  max-width: 343px;
}

.how__item-number {
  position: relative;
  z-index: 10;
  font-weight: 800;
  font-size: 144px;
  line-height: 1;
  text-align: center;
  color: #9961d6;
}

.how__item-img {
  position: absolute;
  width: 150px;
  top: 0;
  right: 0;
}

.how__item-description {
  font-weight: 350;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #272727;
}

.how__item-description-link {
  text-decoration: underline;
  color: #272727;
}

.how__item-bottom {
  font-weight: 350;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #9961d6;
  font-weight: bold;
}

.measurements {
  position: relative;
}

.measurements__container {
  text-align: center;
  max-width: 980px;
  height: 710px;
  margin: 0 auto;
  padding: 50px 20px 45px 20px;
  position: relative;
  z-index: 10;
}

@media (max-width: 576px) {
  .measurements__container {
    height: auto;
  }
}

.measurements__title {
  margin-bottom: 60px;
}

@media (max-width: 576px) {
  .measurements__title {
    margin-bottom: 30px;
  }
}

.measurements__content {
  max-width: 550px;
  margin-left: auto;
  text-align: left;
}

.measurements__item {
  position: relative;
  margin-bottom: 35px;
  padding-left: 26px;
  font-size: 2.4rem;
  font-weight: 300;
  color: #111111;
  line-height: 1.2;
}

@media (max-width: 991px) {
  .measurements__item {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .measurements__item {
    font-size: 1.4rem;
  }
}

.measurements__item a {
  color: #5fb0c2;
  font-weight: bold;
  text-decoration: underline;
}

.measurements__item::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #b9d7de;
}

.measurements__item:last-child {
  margin-bottom: 0;
}

.measurements__obj1 {
  position: absolute;
  top: 150px;
  left: 35%;
  z-index: 10;
}

@media (max-width: 1200px) {
  .measurements__obj1 {
    top: 25px;
    left: 5%;
  }
}

.measurements__obj2 {
  position: absolute;
  bottom: -60px;
  right: 20%;
  z-index: 200;
}

@media (max-width: 1200px) {
  .measurements__obj2 {
    right: 10%;
  }
}

.measurements__bg1 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .measurements__bg1 {
    -o-object-position: 45%;
       object-position: 45%;
  }
}

@media (max-width: 576px) {
  .measurements__bg1 {
    -o-object-position: 85%;
       object-position: 85%;
  }
}

.measurements__bg2 {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1200px) {
  .measurements__bg2 {
    display: none;
  }
}

.measurements__circle1 {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 3px solid #fff;
  top: -25px;
  left: -165px;
  z-index: 100;
}

.measurements__circle2 {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 3px solid #fff;
  bottom: -300px;
  right: 150px;
  z-index: 100;
}

.criteria {
  position: relative;
  font-size: 1.4rem;
  overflow: hidden;
}

.criteria__container {
  min-height: 410px;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  padding: 50px 20px 35px 20px;
  position: relative;
  z-index: 10;
}

.criteria__title {
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .criteria__title {
    margin-bottom: 30px;
  }
}

.criteria__description {
  max-width: 640px;
  margin: 0 auto 55px auto;
  font-size: 2.4rem;
  color: #111111;
  line-height: 1.2;
  text-align: center;
  font-weight: 300;
}

@media (max-width: 991px) {
  .criteria__description {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .criteria__description {
    font-size: 1.4rem;
  }
}

.criteria__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .criteria__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.criteria__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 170px;
}

@media (max-width: 991px) {
  .criteria__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 50px;
  }
  .criteria__item:last-child {
    margin-bottom: 0;
  }
}

.criteria__item-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 115px;
  background-color: #b9d7de;
}

@media (max-width: 991px) {
  .criteria__item-img-wrapper {
    margin-bottom: 15px;
  }
}

.criteria__item-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  bottom: 0;
  right: 35px;
}

@media (max-width: 991px) {
  .criteria__item-content {
    position: static;
  }
}

.criteria__item-number {
  font-size: 8.4rem;
  color: #5fb0c2;
  font-weight: 800;
  line-height: 1;
  margin-right: 15px;
}

@media (max-width: 991px) {
  .criteria__item-number {
    position: absolute;
    top: 0;
    left: 40px;
    font-size: 4rem;
  }
}

.criteria__item-text {
  max-width: 250px;
  font-size: 1.8rem;
  color: #111111;
  line-height: 1.2;
  text-align: left;
  font-weight: 300;
}

@media (max-width: 991px) {
  .criteria__item-text {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .criteria__item-text {
    font-size: 1.4rem;
  }
}

.criteria__obj1 {
  position: absolute;
  left: 8.5%;
  bottom: 2.5%;
  z-index: 200;
}

.criteria__bg {
  position: absolute;
  top: -30px;
  left: 0;
}

.faq {
  position: relative;
  overflow: hidden;
}

.faq__container {
  max-width: 980px;
  margin: 0 auto;
  padding: 45px 20px 35px 20px;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__title {
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .faq__title {
    margin-bottom: 30px;
  }
}

.faq__questions {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.faq__question-title {
  font-size: 1.6rem;
  color: #272727;
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .faq__question-title {
    font-size: 1.4rem;
  }
}

.faq__question-answer {
  font-size: 1.6rem;
}

@media (max-width: 576px) {
  .faq__question-answer {
    font-size: 1.4rem;
  }
}

.faq__question-answer > p {
  color: #2b2b2b;
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}

.faq__list {
  list-style-position: inside;
}

.faq__list_parent {
  font-weight: 300;
}

@media (max-width: 768px) {
  .faq__list_parent {
    padding-left: 20px;
  }
}

.faq__list_parent li {
  margin-bottom: 10px;
  line-height: 1.4;
}

.faq__list_nested {
  padding-left: 20px;
}

.faq__list_circle {
  list-style-type: disc;
}

.faq__list-item-title > p {
  margin-bottom: 10px;
}

.faq__obj1 {
  position: absolute;
  right: 24%;
  bottom: 50px;
  z-index: 10;
}

@media (max-width: 576px) {
  .faq__obj1 {
    right: 5%;
    bottom: 50px;
  }
}

.faq__bg {
  position: absolute;
  bottom: -30px;
  right: 0;
}

.faq__question-show-all {
  border: 0;
  outline: 0;
  font-size: 1.6rem;
  color: #5fb0c2;
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.faq__question-show-all ~ .faq__question {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__question {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__question .faq__question-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.faq__question.active {
  max-height: 100%;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.faq__question.active .faq__question-answer {
  max-height: 100%;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.feedback {
  position: relative;
  font-size: 1.4rem;
  overflow: hidden;
  background-color: #edecf1;
}

.feedback__container {
  min-height: 410px;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px 20px 50px 20px;
  position: relative;
  z-index: 10;
}

.feedback__title {
  margin-bottom: 30px;
}

.feedback__description {
  font-size: 1.6rem;
  line-height: 24px;
  color: #2d2d2d;
  font-weight: 400;
  margin-bottom: 30px;
}

.feedback__form {
  display: block;
  margin: 0 auto;
  max-width: 570px;
}

.feedback__label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.feedback__label:last-child {
  margin-bottom: 0;
}

.feedback__label_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback__input {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 24px;
  border: none;
  border-radius: 0;
  background-color: #fff;
  padding: 12px 25px 10px 25px;
}

.feedback__input:focus {
  outline: 0;
}

.feedback__textarea {
  resize: none;
  height: 104px;
}

.feedback__checkbox {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.feedback__checkbox:checked + .feedback__checbox-fake::before {
  opacity: 1;
}

.feedback__checbox-fake {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  margin-right: 10px;
}

.feedback__checbox-fake::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 8px;
  border-right: 1px solid #5fb0c2;
  border-bottom: 1px solid #5fb0c2;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}

.feedback__circle {
  position: absolute;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: 3px solid #fff;
  bottom: -50px;
  left: -50px;
}

.feedback__obj1 {
  position: absolute;
  left: 8%;
  bottom: 110px;
  z-index: 10;
}

@media (max-width: 576px) {
  .feedback__obj1 {
    left: 10px;
    bottom: 15px;
  }
}

.gifts {
  position: relative;
  background-color: #f6f4f9;
  font-size: 1.4rem;
}

.gifts__container {
  max-width: 980px;
  margin: 0 auto;
  padding: 40px 20px 35px 20px;
  position: relative;
  z-index: 10;
  text-align: center;
}

@media (max-width: 991px) {
  .gifts__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.gifts__title {
  margin-bottom: 25px;
}

@media (max-width: 576px) {
  .gifts__title {
    margin-bottom: 30px;
  }
}

.gifts__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .gifts__item {
    margin-bottom: 50px;
  }
  .gifts__item:last-child {
    margin-bottom: 0;
  }
}

.gifts__item_one {
  text-align: left;
}

.gifts__item_two {
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.gifts__item_three {
  top: -100px;
  text-align: left;
  margin-bottom: -100px;
}

@media (max-width: 991px) {
  .gifts__item_three {
    margin-bottom: 0;
    top: 0;
  }
}

.gifts__item-img-wrapper {
  position: relative;
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 991px) {
  .gifts__item-img-wrapper {
    width: 35%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 35%;
            flex: 1 0 35%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .gifts__item-img-wrapper_one {
    text-align: left;
  }
}

.gifts__item-img-wrapper_two {
  text-align: center;
}

.gifts__item-img-wrapper_three {
  left: -100px;
}

@media (max-width: 991px) {
  .gifts__item-img-wrapper_three {
    left: 0;
  }
  .gifts__item-img-wrapper_three img:first-child {
    position: absolute;
    top: -45px;
    right: 35px;
    max-width: unset;
    width: 300px;
  }
}

@media (max-width: 576px) {
  .gifts__item-img-wrapper_three {
    text-align: left;
  }
  .gifts__item-img-wrapper_three img:first-child {
    top: -25px;
    right: 0;
  }
}

@media (max-width: 991px) {
  .gifts__item-img {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .gifts__item-img {
    width: 100%;
  }
}

.gifts__item-obj1 {
  position: absolute;
  right: -25px;
  bottom: -50px;
  z-index: 10;
}

.gifts__item-obj2 {
  position: absolute;
  right: 25px;
  bottom: 50px;
  z-index: 10;
}

.gifts__item-obj3 {
  position: absolute;
  left: -25px;
  bottom: 50px;
  z-index: 10;
}

.gifts__item-content {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 991px) {
  .gifts__item-content {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 576px) {
  .gifts__item-content_one {
    padding-left: 15px;
  }
}

@media (max-width: 576px) {
  .gifts__item-content_three {
    padding-left: 15px;
  }
}

.gifts__item-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 2.4rem;
  color: #272727;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .gifts__item-title {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.gifts__item-title_accent {
  color: #5fb0c2;
  background-color: #b9d7de;
  height: 40px;
  padding: 0 10px;
}

@media (max-width: 991px) {
  .gifts__item-title_accent {
    font-size: 1.8rem;
    font-weight: 600;
    height: 30px;
  }
}

.gifts__item-subtitle {
  margin-bottom: 25px;
  font-size: 2.4rem;
  color: #272727;
}

@media (max-width: 991px) {
  .gifts__item-subtitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .gifts__item-subtitle {
    margin-bottom: 15px;
  }
}

.gifts__item-subtitle b {
  font-weight: normal;
}

.gifts__item-description {
  font-size: 1.8rem;
  color: #111111;
  line-height: 1.2;
  font-weight: 300;
}

@media (max-width: 576px) {
  .gifts__item-description {
    font-size: 1.4rem;
  }
}

.gifts__item-description b {
  font-weight: 800;
}

@media (max-width: 991px) {
  .gifts__btn {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  .gifts__btn {
    font-size: 1.6rem;
    height: 45px;
    padding: 0 30px;
  }
}

.gifts__circle {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 3px solid #fff;
  top: -150px;
  left: -100px;
  z-index: 100;
}

.title1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #9961d6;
}

@media (max-width: 991px) {
  .title1 {
    font-size: 36px;
    line-height: 53px;
  }
}

.title2 {
  position: relative;
  display: inline-block;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  color: #272727;
  padding-bottom: 10px;
}

.title2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9961d6;
  height: 3px;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .title2::before::before {
    height: 2px;
    width: 50%;
  }
}

@media (max-width: 991px) {
  .title2 {
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    color: #272727;
  }
}

.text1 {
  font-weight: 350;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #272727;
}

@media (max-width: 991px) {
  .text1 {
    font-size: 18px;
    line-height: 27px;
  }
}

.text2 {
  font-weight: 350;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #272727;
}

@media (max-width: 991px) {
  .text2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.text3 {
  font-weight: 350;
  font-size: 20px;
  line-height: 29px;
  color: #272727;
}

@media (max-width: 991px) {
  .text3 {
    font-size: 18px;
    line-height: 27px;
  }
}

.btn {
  border: 0;
  outline: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 50px;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .btn {
    font-size: 18px;
    line-height: 36px;
    height: 35px;
  }
}

.container {
  margin: 0 auto;
  padding: 37px 20px;
}

@media (max-width: 576px) {
  .container {
    padding: 25px 15px;
  }
}
